#personalPhoto {
    border: 5px solid rgb(138, 138, 241);
    border-radius: 50px 10px;
    margin-right: 20px;
}

body {
    background-color: #b9cef4;
    color: rgb(22, 3, 42);
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    color: rgb(6, 0, 12);
}

#about {
    width: 500px;
    padding: 15px;
    margin: 5px;
}

#experience {
    width: 700px;
    padding: 15px;
    margin: 5px;
}

#skills {
    list-style: square;
    /* width: 500px; */
    padding: 15px;
    margin: 5px;
    background-image: linear-gradient(to bottom,
            rgba(0, 255, 221, 0.5),
            rgba(0, 0, 255, 0.5))
}

#connect {
    width: 500px;
    padding: 15px;
    margin: 5px;
}

#messages {
    width: 500px;
    padding-left: 20px;
    margin: 5px;
}

label {
    font-size: 23px;
    color: black;
}

input {
    font-size: 20px;
    color: blue;
    padding-left: 10px;
    border-color: black;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    font-size: 25px;
    color: blue;
    padding-left: 10px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

button {
    border-radius: 15px;
    padding-left: 5px;
    background-color: rgb(96, 222, 245);
    width: 15%;
    box-sizing: border-box;
}

#leaveAmessage {
    width: 500px;
    padding: 15px;
    margin: 5px;
}

section {
    padding: 10px;
}

.message-email {
    color: rgb(152, 7, 145);
}

.message-section {
    list-style-position: inside;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(135, 178, 238);
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(8, 3, 66);
    text-align: center;
}

/* #skills {
    width: 500px;
    border: 3px solid rgb(62, 10, 165);
    padding: 15px;
    margin: 5px;
} */

/* #skills {
    list-style: square;
    width: 500px;
    padding: 15px;
    margin: 5px;
    background-image: radial-gradient(
            rgba(255, 255, 0, 0.5),
            rgba(0, 0, 255, 0.5))
} */
