#personalPhoto {
    border: 5px solid rgb(138, 138, 241);
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

.photo-section {
    background-color: #b9cef4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: auto auto 10px;
}

header {
    text-align: center;
    font-weight: bold;
    margin: auto auto 10px;
}

body {
    background-color: #b9cef4;
    color: rgb(22, 3, 42);
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

section {
    background-color: #2cbaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: auto auto 10px;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    color: rgb(6, 0, 12);
}

label {
    font-size: 23px;
    color: black;
}

input {
    font-size: 20px;
    color: blue;
    padding-left: 10px;
    border-color: black;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    font-size: 30px;
    color: blue;
    padding-left: 10px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

button {
    border-radius: 15px;
    padding-left: 5px;
    background-color: rgb(96, 222, 245);
    width: 15%;
    box-sizing: border-box;
}

footer {
    background-color: rgb(135, 178, 238);
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(8, 3, 66);
    text-align: center;
}

#about,
#skills,
#projects,
#connect,
#leaveAmessage,
#experience,
#messages {
    width: 700px;
}

#experience ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#skills {
    list-style: square;
    background-image: linear-gradient(to bottom,
            rgba(0, 255, 221, 0.5),
            rgba(0, 0, 255, 0.5))
}

#leaveAmessage {
    display: flex;
    flex-direction: column;
}

#messages {
    text-align: center;
}

.message-email {
    color: rgb(152, 7, 145);
}

.message-section {
    list-style-position: inside;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left;
}

@media only screen and (max-width: 600px) {

    /* Extra small devices (phones, 600px and down) */
    .navBar {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 10px;
        align-items: center;
    }

    a.navItem {
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 600px) {

    /* Small devices (tablets and large phones, 600px and up) */
    .navBar {
        display: inline-block;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        margin: 10px;
        height: 25px;
        align-items: center;
    }

    a.navItem {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 992px) {

    /* Large devices (laptops/desktops, 992px and up) */
    .navBar {
        display: inline-block;
        justify-content: space-between;
        width: 700px;
        padding: 10px;
        margin: 10px;
        height: 25px;
        align-items: center;
    }

    a.navItem {
        padding-left: 15px;
    }
}
